@import './animations.scss';

.image-section {
  display: flex;
  margin-bottom: 6rem;
  width: 70%;
  margin: auto;

  .img {
    position: relative;
    animation-name: moveInRight;
    animation-duration: 1.5s;

    img {
      width: 25rem;
      object-fit: cover;
      height: 100%;
      border-radius: 2rem 4rem;
      overflow: hidden;
    }

    &::before {
      content: '';
      border: 1px solid #64ffda;
      width: 100%;
      height: 100%;
      position: absolute;
      box-sizing: border-box;
      top: -10px;
      left: -10px;
      animation-name: moveInRight;
      animation-duration: 1.5s;
    }

    &::after {
      content: '';
      border: 1px solid #64ffda;
      width: 100%;
      height: 100%;
      position: absolute;
      box-sizing: border-box;
      right: -5px;
      bottom: -5px;
      animation-name: moveInRight;
      animation-duration: 1.5s;
    }

    &:hover::before {
      top: 0;
      left: 0;
      border: 1px solid #64ffda;
      transition: all 0.3s linear;
      border-radius: 2rem 4rem;
    }

    &:hover::after {
      border-radius: 2rem 4rem;
      transition: all 0.3s linear;
    }
  }

  .about-info {
    margin-left: 2.3rem;
    animation-name: moveInRight;
    animation-duration: 1.5s;

    h4 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    span {
      color: #64ffda;
    }

    .btn {
      button {
        margin-top: 2rem;
        padding: 0.6rem;
        background: none;
        border: 1px solid #64ffdb5e;
        color: #ccd6f6;
        width: 10rem;
        font-size: 0.8rem;
        font-weight: 600;
        border-radius: 7rem 3rem;
        outline: none;
        cursor: pointer;
      }

      button:hover {
        background: #64ffdb1a;
      }
    }
  }

  .story-datails {
    p {
      line-height: 2rem;
      font-weight: 500;

      span {
        color: #64ffda;
      }
    }
  }

  .line {
    width: 2px;
    background-color: white;
    margin-left: 1rem;
  }
}
