@import './variables.scss';

.App {
  .sidebar {
    width: 5%;
    height: 100vh;
    border-right: 1px solid $border;
    background-color: $homeColor;
    position: fixed;
  }

  .home {
    background-color: $homeColor;
    min-height: 100vh;
    width: 95%;
    margin-left: 5%;

    position: relative;
    display: grid;
    .content {
      min-height: 100vh;
    }
  }
}
