@import './variables.scss';

.title {
  width: 70%;
  height: 5rem;
  margin: 5rem auto;

  h1 {
    font-size: 2.8rem;
    color: white;
    letter-spacing: 0.2rem;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 1rem;
    position: relative;
  }

  span {
    position: absolute;
    top: 5%;
    left: 0%;
    font-size: 5rem;
    opacity: 0.12;
    color: #eceef18a;
    font-weight: bold;
  }
}
